name: Integration Tests

on:
  push:
    branches: [main]
    paths:
      - 'src/**'
      - 'tests/**'
      - '.github/workflows/**'
      - 'pyproject.toml'
  workflow_dispatch:

jobs:
  run-integration-tests:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v6
        with:
          python-version: 3.13
          activate-environment: true

      - name: Install dependencies
        run: |
          uv sync --group tests --extra all

      # cache the ~/.ollama/models directory
      - uses: actions/cache@v4
        with:
          path: ~/.ollama
          key: ${{ runner.os }}-ollama-models-${{ hashFiles('tests/conftest.py') }}
          restore-keys: |
            ${{ runner.os }}-ollama-models-
      - name: Setup Ollama
        uses: ai-action/setup-ollama@v1

      - name: Run ollama
        run: |
          ollama serve &
          ollama pull llama3.2:1b

      - name: Run Integration tests (parallel with xdist)
        env:
          ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
          AWS_BEARER_TOKEN_BEDROCK: ${{ secrets.AWS_BEARER_TOKEN_BEDROCK }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          MISTRAL_API_KEY: ${{ secrets.MISTRAL_API_KEY }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          XAI_API_KEY: ${{ secrets.XAI_API_KEY }}
          LLAMA_API_KEY: ${{ secrets.LLAMA_API_KEY }}
        run: pytest tests/integration -v -n auto --cov --cov-report=xml

      - name: Upload coverage reports to Codecov
        if: always()
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
